---
layout: default
---


<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [
        { type: "{{site.typewrite-title[0]}}" },
         {delay: 2000},
         {remove: {num: 1, type: 'stepped'}},
        { type: "{{site.typewrite-title[1]}}" },
        {delay: 2000},
        {remove: {num: 1, type: 'stepped'}},
        /*{ type: "{{site.typewrite-title[2]}}" },
        {delay: 2000},
        {remove: {num: 9, type: 'stepped'}},
        { type: "{{site.typewrite-title[3]}}" },
        {delay: 2000},
        {remove: {num: 6, type: 'stepped'}},
        { type: "{{site.typewrite-title[4]}}" },
        {delay: 2000},
        {remove: {num: 12, type: 'stepped'}},
        { type: "{{site.typewrite-title[5]}}" },*/
      ]
    });
  });
</script>
    <div class="jumbotron" style="text-align: center;">

      
      <img class="author-profile-img" src="/assets/img/profile.webp" title="Cục bông hồng" />
      <!--<div class="frames" style="text-align: center;"><img class="author-profile-img" src="/assets/img/cmnm.png" /></div>-->

      <p class="jumbotron-title"><span>{{site.author_name}}</span>{{site.author_lastname}}</p>
      <p class="jumbotron-subtitle"><span class="head"> ... </span><span id="typewriteText"></strong></p>
      {% if site.github_username %} {%- include github_follow_button.html -%} {%
      endif %} {%- include github_star_button.html -%}
    </div>
    <div class="col-lg-8 offset-md-2">
      {%- include blockquote.html -%}
    </div>

    <!--
    <div class="col-lg-8 offset-md-2">
      <section id="recent-articles">
        <div id="recent-articles-header">
          <div id="recent-articles-title">
            <h1 class="card-title">Recent Articles</h1>
          </div>
          <div id="recent-articles-show-all">
            <a class="btn btn-lg btn-dark" href="/blog"> View All </a>
          </div>
        </div>
        <br />

        <ul>
          {% for post in site.posts limit:5 %}
          <li class="article-card">
            <a href="{{post.url}}" class="article-card-link">
              <div id="article-container">
                <div id="article-img">
                  <img
                    src="/assets/img/{{site.author_logo}}"
                    width="50px"
                    height="50px"
                  />
                </div>
                <div id="article-link">
                    <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></p>
                  </div>
                  <div id="article-alert">
                  {% for cat in post.category limit:1 %}
                   <button class="btn btn-sm btn-dark">{{cat}}</button>
                  {% endfor %}
                  </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      
      </section>
    </div>
  -->

